html{
	background-color: #879666;
	padding: 10px;
}

body{
	width: 1200px;
	margin: 0 auto;
	text-align: justify;
	padding-top:10px;
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 1);
	padding: 10px;
	background-color:white;
	
}

header > nav{
	
	padding: 20px;
	text-align: center;
	background-color: #879666;
	border-radius:10px;
}

.btnMenu{
	border:solid;
	padding: 5px;
	font-size: 30px;
	background-color: white;/*#9967AB;*/
	color: black;
	text-decoration:none; /*quitamos la decoración del link*/
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5); /*Sombra debajo del link*/
	cursor: pointer; /*forma del cursor al colocarse sobre él*/
	border-radius: 20px;
}

.btnMenu:active{
	box-shadow: none;
	
}

header > h1{
	
	text-align: center;
	text-decoration: underline;
	
}

header > section > img{

	float: left;
	width: 200px;
	padding-right: 15px;
	
	
}

main > section > .noUltimo{
	
	border-bottom: dashed;
	border-width: 2px;
	
}



main > section > h3{
	
	border-top: solid;
	border-width: 2px;
	padding-top: 10px;
	
}

p, li{
	
	font-size: 20px;
	
}

